<ion-view view-title="Keypad">
  <ion-content class="padding">
    <!--<ion-list class="results-block">
			<ion-item ng-repeat="">

			</ion-item>
		</ion-list>-->
    <!--<ion-list>
    		<ion-item class="sam-input-item">
				<span class="inputview">{{typedCode}}</span>
    		</ion-item>
    	</ion-list>-->

      <div class="tablero-keypad row m-t-10 ">
        <a ng-if="typedCode.length > 0" class="btn-delet icon-close-circled" ng-click="focusDelet()"></a>

        <input disabled="" id="telephon" class="txt-keypad" ng-model="typedCode" value="{{typedCode}}" type="tel">
        <a ng-click="keyPressed(typedCode,-1)" class="btn-delet icon-backspace ripple" ng-focus="focusDelet()"></a>
      </div>

      <div class="row abcenter">
        <div class="row m-t-20 xs-80 no-m">
          <a ng-click="keyPressed(typedCode,1)" class="button-keypad row xs4 abcenter no-m column color-5 ripple">1
            <i class="legend icon ion-ios-recording"></i>
          </a>
          <a ng-click="keyPressed(typedCode,2)" class="button-keypad row xs4 abcenter no-m column color-5 ripple">2
            <i class="legend">ABC</i>
          </a>
          <a ng-click="keyPressed(typedCode,3)" class="button-keypad row xs4 abcenter no-m column color-5 ripple">3
            <i class="legend">DEF</i>
          </a>
        </div>
        <div class="row xs-80 no-m">
          <a ng-click="keyPressed(typedCode,4)" class="button-keypad row xs4 abcenter no-m column color-5 ripple">4
            <i class="legend">GHI</i>
          </a>
          <a ng-click="keyPressed(typedCode,5)" class="button-keypad row xs4 abcenter no-m column color-5 ripple">5
            <i class="legend">JKL</i>
          </a>
          <a ng-click="keyPressed(typedCode,6)" class="button-keypad row xs4 abcenter no-m column color-5 ripple">6
            <i class="legend">MNO</i>
          </a>
        </div>
        <div class="row xs-80 no-m">
          <a ng-click="keyPressed(typedCode,7)" class="button-keypad row xs4 abcenter no-m column color-5 ripple">7
            <i class="legend">PQRS</i>
          </a>
          <a ng-click="keyPressed(typedCode,8)" class="button-keypad row xs4 abcenter no-m column color-5 ripple">8
            <i class="legend">TUV</i>
          </a>
          <a ng-click="keyPressed(typedCode,9)" class="button-keypad row xs4 abcenter no-m column color-5 ripple">9
            <i class="legend">WXYS</i>
          </a>
        </div>
        <div class="row xs-80 no-m">
          <a ng-click="keyPressed(typedCode,'*')" class="button-keypad row xs4 abcenter no-m column color-5  asterisco ripple">*
            <i class="legend">P(,)</i>
          </a>
          <a ng-click="keyPressed(typedCode,0)" class="button-keypad row xs4 abcenter no-m column color-5 ripple">0
            <i class="legend icon">+</i>
          </a>
          <a ng-click="keyPressed(typedCode,'#')" class="button-keypad row xs4 abcenter no-m column color-5 ripple">#
            <i class="legend icon ion-android-volume-off"></i>
          </a>
        </div>
        <div class="row abcenter m-t-20">
          <a ng-click="sendTheCode()" class="btn-call ion-android-call  ripple"></a>
        </div>
      </div>


    </ion-content>
  </ion-view>
