<ion-view view-title="Contacts">
  <ion-content>
  
<!--     <button class="btn btn-link red" ng-click="getContacts()">Get My Contacts</button>
-->    <div class="card">
<div class="list m-t-10 no-shadow">

  <a item-avatar="item-avatar"  class="rel item no-b" ng-repeat="contact in contacts">
    <!-- <img ng-src="{{contact.photos[0].value}}" ng-if="contact.photos.length > 0" alt="">-->
    <img ng-src="{{contact.imageUser}}"/>
    <div class="item-label">
      <h5 class="bold color-5">{{ contact.name.formatted }}</h5>

      <p class="bold font-7" ng-if="contact.emails.length > 0">Email(s)</p>
      <p class="font-8" ng-if="contact.emails.length > 0" ng-repeat="email in contact.emails">{{ email.value }}</p>
      <p class="font-8" ng-if="contact.emails.length == null">Email: No disponible</p>


      <p class="font-7 bold" ng-if="contact.phoneNumbers.length > 0">Telefono(s)</p>
      <p class="font-8" ng-if="contact.phoneNumbers.length > 0" ng-repeat="number in contact.phoneNumbers">{{ number.value }}</p>
      <p class="font-8" ng-if="contact.phoneNumbers.length == null">Telefono: No disponible</p>
    </div>
    <div class="xs-auto rel">
      <button class="color-5 btn btn-link btn-icon icon-pencil"></button>
    </div>
    
  </a>
</div>
</div>
</ion-content>
</ion-view>
