<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-dark">

  <!-- Dashboard Tab -->
  <ion-tab title="Keypad" class="color-5" icon-off="ion-ios-keypad" icon-on="ion-ios-keypad" href="#/tab/keypad">
    <ion-nav-view name="tab-keypad"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Contacts" class="color-5" icon-off="ion-android-contact" icon-on="ion-android-contact" href="#/tab/contacts">
    <ion-nav-view name="tab-contacts"></ion-nav-view>
  </ion-tab>


</ion-tabs>
