
.align-center
{
  align-items: center;
  justify-content: center;
}

.flex-element
{
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.button-keypad
{
  background: transparent;
  font-size: 34px;
  padding: 17px;
  padding: 1;
  box-sizing: border-box;
  position: relative;

  &:hover{
    background: rgba(238, 238, 238, 0.32);
    @include transition(all ease-in-out 250ms);
  }

}

.asterisco
{
  font-size: 56px;
  padding: 24px 4px 11px 17px !important;
}

.tablero-keypad
{
  min-height: 50px;
  width: 100%;
  background: rgba(238, 238, 238, 0.32);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);

  & .txt-keypad
  {
    width: 100%;
    font-size: 22px;
    padding-left: 10px;
    padding-left: 10px;
    margin: 0px !important;
    letter-spacing: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    padding-right: 20px;
    white-space: nowrap;
    box-sizing: border-box;
    border: none;
    background: transparent;
  }
}
.legend
{
  font-size: 11px;
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.57);

  &.icon
  {
    font-size: 20px;
  }
}

.btn-call
{
  border-radius: 50%;
  @extend .flex-element;
  @extend .align-center;
  padding: 5px;
  background: rgb(24, 218, 24);
  width: 60px;
  height: 60px;

  &:hover{
    background: rgba(238, 238, 238, 0.32);
    @include transition(all ease-in-out 250ms);
  }
  &:before
  {
    color: #fff;
    font-size: 25px;
  }
}

.btn-delet
{
 border-radius: 50%;
 @extend .flex-element;
 @extend .align-center;
 padding: 5px;
 background: transparent;
 width: 50px;
 height: 50px;

 &:before
 {
  color: rgba(0, 0, 0, 0.35);
  font-size: 32px;
}
}




// Clases para estilos

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.align-start {
	align-items: flex-start;
}

.justify-center{
	justify-content: center;
}

.justify-end{
	justify-content: flex-end;
}

.justify-start{
	justify-content: flex-start;
}

.justify-between{
	justify-content: space-between;
}

.justify-around{
	justify-content: space-around;
}
.abcenter {
	justify-content: center !important;
	align-items: center !important;
	// text-align: center;
}


// Configuracion para el top de los elemento ya que se removio el elemento title
.tabs-top > .tabs, .tabs.tabs-top
{
  top: 0px !important;
}
.has-tabs-top {
  top: 48px !important;
}