@charset "UTF-8";

@font-face {
  font-family: "font-easy";
  src:url("../fonts/font-easy.eot");
  src:url("../fonts/font-easy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/font-easy.woff") format("woff"),
    url("../fonts/font-easy.ttf") format("truetype"),
    url("../fonts/font-easy.svg#font-easy") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "font-easy" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "font-easy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\61";
}
.icon-slack:before {
  content: "\62";
}
.icon-angle-right:before {
  content: "\63";
}
.icon-angle-left:before {
  content: "\64";
}
.icon-angle-up:before {
  content: "\65";
}
.icon-angle-down:before {
  content: "\66";
}
.icon-adn:before {
  content: "\67";
}
.icon-close:before {
  content: "\68";
}
.icon-chevron-down:before {
  content: "\69";
}
.icon-chevron-up:before {
  content: "\6a";
}
.icon-chevron-right:before {
  content: "\6b";
}
.icon-chevron-left:before {
  content: "\6c";
}
.icon-inbox:before {
  content: "\6d";
}
.icon-bell:before {
  content: "\6e";
}
.icon-ios-keypad:before {
  content: "\6f";
}
.icon-sign-out:before {
  content: "\70";
}
.icon-exclamation-triangle:before {
  content: "\71";
}
.icon-box:before {
  content: "\72";
}
.icon-exclamation-circle:before {
  content: "\73";
}
.icon-html5:before {
  content: "\74";
}
.icon-pin:before {
  content: "\75";
}
.icon-refresh:before {
  content: "\76";
}
.icon-android-more-vertical:before {
  content: "\77";
}
.icon-android-more-horizontal:before {
  content: "\78";
}
.icon-image:before {
  content: "\79";
}
.icon-envelope:before {
  content: "\7a";
}
.icon-chatbubbles:before {
  content: "\41";
}
.icon-android-call:before {
  content: "\42";
}
.icon-bag:before {
  content: "\43";
}
.icon-paintbucket:before {
  content: "\44";
}
.icon-group:before {
  content: "\45";
}
.icon-gamepad:before {
  content: "\46";
}
.icon-jade:before {
  content: "\47";
}
