//SCSS  PARA LOS ICONOS USADOS EN LA PAGINA
//Before

@mixin MX_Flecha($NumFlecha,$PseudoElemento) {
      &:#{$PseudoElemento} {
            content: "";
            display: block;
            left: 6%;
            position: absolute;
            top: 50%;
            width: 0;
            height: 0;
      }
      @if $NumFlecha == 1 {
            &:#{$PseudoElemento} {
                  border-left: 5px solid transparent;
                  /* izquierda flecha */
                  border-right: 5px solid transparent;
                  /* derecha flecha */
                  border-top: 5px solid rgb(255, 255, 255);
                  /* base flecha y color*/
            }
      }
      @else if $NumFlecha == 2 {
            &:#{$PseudoElemento} {
                  border-left: 5px solid transparent;
                  /* izquierda flecha */
                  border-right: 5px solid transparent;
                  /* derecha flecha */
                  border-bottom: 5px solid rgb(255, 255, 255);
                  /* base flecha y color*/
            }
      }
      @else if $NumFlecha == 3 {
            &:#{$PseudoElemento} {
                  border-bottom: 5px solid transparent;
                  /* izquierda flecha */
                  border-top: 5px solid transparent;
                  /* derecha flecha */
                  border-right: 15px solid rgb(255, 255, 255);
                  /* base flecha y color*/
            }
      }
      @else if $NumFlecha == 4 {
            &:#{$PseudoElemento} {
                  border-bottom: 5px solid transparent;
                  /* izquierda flecha */
                  border-top: 5px solid transparent;
                  /* derecha flecha */
                  border-left: 12px solid rgb(255, 255, 255);
                  /* base flecha y color*/
            }
      }
      @else {
            border-bottom: 5px solid transparent;
            /* izquierda flecha */
            border-top: 5px solid transparent;
            /* derecha flecha */
            border-left: 12px solid rgb(255, 255, 255);
            /* base flecha y color*/
      }
}













%PH_icon_close
{
      position: absolute;
      color: $color_7;
      right: 18px;
      top: 10px;
      cursor: pointer;
      padding: 3px 9px 4px 9px;
      margin: 0px;
      border:solid 1px transparent;
      display: flex;
      align-itemns:center;
      justify-content:center;
      @include box-sizing(border-box);
      border-radius: 50%;
      &:before{
            content: 'h';
            font-family: font-easy;
      }
}
.icon-close-1
{
      @extend %PH_icon_close;
      color: #ffffff;
      background-color: #5c5c5c;
      &:hover{
            opacity: 0.71;
      }
}
.icon-close-2
{
      @extend %PH_icon_close;
      color: #ffffff;
      background-color: #000;

      &:hover{
            opacity: 0.71;
      }

}
.icon-close-3
{
      @extend %PH_icon_close;
      color: #ffffff;
      background-color: rgb(3,155,229);

      &:hover{

            opacity: 0.71;
      }

}
.icon-close-5
{
      @extend %PH_icon_close;
      color: rgba(#455A64, .4);
      background-color: transparent;
      border:solid 1px rgba(#455A64, .4);

      &:hover{

            opacity: 0.71;
            border: solid 1px rgb(3,155,229);
            color: rgb(3,155,229);
      }

}
.icon-close-6
{
      @extend %PH_icon_close;
      color: #ffffff;
      background-color: transparent;
      border:solid 1px #ffffff;
      &:hover{
            opacity: 0.71;
            border: solid 1px rgba(#ffffff,.8);
            color: rgba(#ffffff,.8);
      }
}
.icon-close-4
{
      @extend %PH_icon_close; @extend %PH_icon_close;
      color: #ffffff;
      background-color: #ff4136;
      &:hover{
            opacity: 0.71;
      }
}
.icon-close-1-1
{
      @extend %PH_icon_close;
      color: #5c5c5c;
      &:hover{
            opacity: 0.71;
      }
}
.icon-close-2-2
{
      @extend %PH_icon_close;
      color: #000;
      &:hover{
            opacity: 0.71;
      }
}
.icon-close-3-3
{
      @extend %PH_icon_close;
      color: rgb(3,155,229);
      &:hover{
            opacity: 0.71;
      }
}
.icon-close-4-4
{
      @extend %PH_icon_close;
      color: $color_10;
      &:hover{
            opacity: 0.71;
      }
}
.icon-close-5-5
{
      @extend %PH_icon_close;
      color: rgba(#455A64, .4);
      background-color: transparent;
      border:solid 1px transparent;
      &:hover{
            opacity: 0.71;
            border: solid 1px transparent;
            color: rgb(3,155,229);
      }
}
.icon-close-6-6
{
      @extend %PH_icon_close;
      color: #ffffff;
      background-color: transparent;
      border:solid 1px transparent;
      &:hover{
            opacity: 0.71;
            border: solid 1px transparent;
            color: rgba(#ffffff,.8);
      }
}
