

//Clase usada para los elementos del menu
$nav_widht: 230px;

//Principal del header
nav.toolbar
{
	position:relative;
	z-index:$header-index;
	left: -1px;
	@include trasition( all 4/10, ease-in-out, 1/10);
	@extend .#{$fila};

}
//Interior del header
.toolbar-content
{
	position: fixed;
	right: 0;
	left: 0;
	height:60px;
	z-index:$header-index;
	@extend .#{$fila};
	width: -moz-available !important;
	width: -webkit-available !important;
	background:$header-background;
	padding-left: $nav_widht;
	@include box-shadow(0px 0px 1px 0px rgba(0,0,0,3/10));
	@extend .justify;
	@extend .no-wrap;



}



/*Menu-izquierda*/

.menu
{

	position:relative;
	top:0px;
	left:0px;
	margin-left: 0px;
	height:100%;
	z-index:$siderbar-index;
	@extend .#{$fila};
	@extend .cross-start;
	width:$nav_widht;


	& .menu-cont
	{
		position: fixed;
		height: 100%;
		top: 0px;
		left: 0px;
		width:  $nav_widht - 35;
		z-index:$siderbar-index;
		background: $siderbar-background;


		& .menu-nav
		{
			visibility: hidden;
			overflow: auto;

			@include desde(xs){
				height: 340px;
				overflow: scroll;
				overflow-x:hidden;
			}
			@include desde(md){
				height: 560px;
				overflow: scroll;
				overflow-x:hidden;
			}


			& .menu-nav-inner{
				@extend .#{$fila};
			}

		}
	}
}
.menu-nav-inner,
.menu-nav:hover
{
	visibility: visible !important;
}
.menu-list
{
	margin-top:10px;
	position: relative;
	@extend .#{$fila};
	@extend .cross-start;
	@extend .abcenter;
	@extend .link;
	@extend .no-wrap;
	@include trasition( all 2/10, linear, 2/10);

	&:hover{
		background: $siderbar-link-hover;
	}
}
.item-menu-dropdown
{

	height: 0px;
}

.menu-option
{
	background: $siderbar-link-hover;
	position: absolute;
	@extend .#{$fila};
	@extend .height-40-n;
	@extend .bottom;
	@extend .abcenter;

	& .icon-option
	{
		@extend .n-auto;
		@extend .link;
		color:$color-siderbar;
	}
}



// Nav content
.nav-link
{
	height:30px;
	display:flex;
	align-items:center;
	color:$color-siderbar;

	&:hover{
		cursor:pointer;
		opacity:0.8;
	}


}
.nav-link-child
{
	@extend .m-l-40;
	@extend .font-8;
	color:$color-siderbar;
	&:before
	{
		background: $siderbar-dark;
		bottom: auto;
		content: "";
		height: 8px;
		left: 25px;
		margin-top: 3px;
		position: absolute;
		right: auto;
		width: 8px;
		z-index: 1;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
	&:after
	{
		border-left: 1px solid $siderbar-dark;
		bottom: 0;
		content: "";
		left: 29px;
		position: absolute;
		top: 0;
	}
}
