%PH_table {
  @extend .n-100;
  & table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    font-size: 12px;
    color: $color_253;
    text-align: left;
    margin-bottom: 0px;
    @include box-sizing(border-box);
  }
  & thead {
    background: #FAFAFA;
    & tr th {
      border-bottom: 1px solid #F0F0F0;
      font-weight: 700;
      font-size: 11px;
      text-transform: uppercase;
      padding: 8px;
      line-height: 1.846;
      text-align: left;
    }
  }
  & tbody {
    & tr td:first-child {
      padding-left: 20px;
    }
    & tr {
      &:hover .btn {
        @extend .radius-3;
      }
    }
    & tr td {
      vertical-align: middle;
      cursor: pointer;
      padding: 8px;
      line-height: 1.846;
      border-top: 1px solid #F0F0F0;
      @include box-sizing(border-box);
    }
  }
}

//- basic table
.table-1 {
  @extend %PH_table;
}

//- border table
.table-2 {
  @extend %PH_table;
  & table {
    & tbody td,
    & tbody tr {
      border: solid 1px #EEE;
    }
  }
}

//- striped table
.table-3 {
  @extend %PH_table;
  & table {
    & tbody>tr:nth-child(2n+1) {
      background-color: #FAFAFA;
    }
  }
}

//- hover table
.table-4 {
  @extend %PH_table;
  & table {
    & tbody tr:hover {
      background: rgba(rgb(3, 155, 229), .1);
    }
  }
}

.table-responsive {
  display: block;
  width: 100%;
  min-height: .01%;
  overflow-x: auto;
  border-color: hsla(0, 0%, 6%, .1);
  border-radius: 2px;
  margin-bottom: 0;
}

.no-more-tables {
  & table {
    @include hasta(md) {
      border: solid 1px rgba(0, 0, 0, 0.1);
      & thead {
        & tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
          display: block;
        }
      }
      & tbody>tr:nth-child(2n+1) {
        background-color: hsla(0, 0%, 6%, .1);
      }
      & tbody {
        & tr {
          display: block;
        }
        & tr td {
          position: relative;
          padding-left: 50% !important;
          border-top: 0 !important;
          border-bottom: .0625rem solid hsla(0, 0%, 6%, .1);
          text-align: left;
          white-space: normal;
          display: block;
        }
        & tr td {
          &:before {
            position: absolute;
            top: .375rem;
            left: .375rem;
            padding-right: .625rem;
            width: 45%;
            text-align: left;
            white-space: nowrap;
            font-weight: 600;
            content: attr(data-title);
          }
        }
      }
    }
  }
}