// --------------------------------------------------------------------
// ------- Variables
// --------------------------------------------------------------------

// Variables globales para definir el estandar para las filas y las columnas.
$fila:'row';
$columna:'col';

// Nuevas medidas (mucho más especificas)

$specific_breakpoints: (
n:  0,
xs: 20em,
sm: 34.375em,
md: 48em,
lg: 64em,
xl: 78.5em,
xxl: 100em
);



//  Variable $unit: Define un espacio predeterminado para conservar uniformidad en la aplicación el cual corresponde a 16px (Tamaño de la letra 'M' mayúscula (font-size))

$unit: 1em;

// Tamaños generales de fuente

$font-size: 12px;
$font-size-lg: $unit * 1.5 ;                     // Tamaño Grande
$font-size-md: $unit;                            // Tamaño Mediano
$font-size-sm: $unit * 0.5;                      // Tamaño Pequeño

// Variables del body

$body-font-family: 'Lato', sans-serif;    // Fuente del body
$body-color:#333;                         // Color de fuente del body
$link-color:#1F95D0;                   // Color de los links
$body-background: #f7f0f0;             // Background del body

// Variables del Header

$header-font-family: 'Lato', sans-serif;  // Fuente del Header
$header-font-weight:normal;                 // Grosor de la fuente del Header
$header-text-transform:normal;              // Fuente del Header
$header-index:150;							// Z-index para el header
$border-color:#e0e0e0;               // Color usado para la propiedad border

$color-header:$color-256;					// color general para el header
$header-background:#FFFFFF;                      // background del Header
$header-dark:#d32f2f;							// tono oscuro del color selecionado como header
$header-icon-color:#474747;							// color para los iconos del header

$color-siderbar: #a1a1a1;					// color general para el siderbar
$siderbar-background: #333c44;                      // background de fuente del siderbar
$siderbar-dark:$color-251;							// tono oscuro del color selecionado como background
$siderbar-link-hover:rgba(0,0,0,.05);						// color del hover para la siderbar
$siderbar-index: 151;

// Clase usada para los elementos del menu
$nav_widht: 250px;


// Tamaños de etiquetas de encabezado

$h1-font-size:3em;
$h2-font-size:2.5em;
$h3-font-size:2em;
$h4-font-size:1.5em;
$h5-font-size:1.2em;
$h6-font-size:1em;
$h7-font-size:0.7em;
$h8-font-size:4em;


// Colors
// -------------------------------

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

// Color placeholder

$input-color-placeholder: #aaaaaa;

//Colores generales para botones
$color-btn-default-dark:#adadad;
$color-btn-default:#fff;
$color-btn-primary:$positive;
$color-btn-info:$calm;
$color-btn-warning:$energized;
$color-btn-danger:$assertive;
$color-btn-succes:$balanced;


//Colores generales para las alertas

$color-alert-default-dark:$stable;
$color-alert-default:$light;
$color-alert-primary:$positive;
$color-alert-info:$calm;
$color-alert-warning:$energized;
$color-alert-danger:$assertive;
$color-alert-succes:$balanced;


//Colores basicos, para llamarlos desde la pagina

// background
.bg-primary,.background-primary
{
	background: $color-btn-primary !important;
}
.bg-succes,.background-succes
{
	background: $color-btn-succes !important;
}
.bg-danger,.background-danger
{
	background: $color-btn-danger !important;
}
.bg-info,.background-info
{
	background: $color-btn-info !important;
}
.bg-warning,.background-warning
{
	background: $color-btn-warning !important;
}
.bg-light, .background-light
{
	background: $light !important;
}
.bg-stable, .background-stable
{
	background: $stable !important;
}
.bg-royal, .background-royal
{
	background: $royal !important;
}
.bg-dark, .background-dark
{
	background: $dark !important;
}
// color

.primary
{
	color: $color-btn-primary !important;
}
.succes
{
	color: $color-btn-succes !important;
}
.danger
{
	color: $color-btn-danger !important;
}
.info
{
	color: $color-btn-info !important;
}
.warning
{
	color: $color-btn-warning !important;
}
.light
{
	color: $light !important;
}
.stable
{
	color: $stable !important;
}
.royal
{
	color: $royal !important;
}
.dark
{
	color: $dark !important;
}
